.banner {
  background-color: gainsboro;
  height: 230px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 0 80px;
}

.list {
  background-color: white;
  flex-grow: 1;
  margin-right: 100px;
  /* border: 1px solid red; */
}
.list .title {
  margin: 0;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.list ul {
  padding: 0;
}
.list li {
  color: #aaaaaa;
  cursor: pointer;
  padding: 5px 0;
  font-weight: 600;
}

.list li.active {
  color: #2f3eff;
}

.item {
  background-color: white;
  width: 990px;
  /* border: 1px solid red; */
}

.item .title {
  margin: 0;
  text-align: center;
  color: #2f3eff;
  font-weight: 600;
  font-size: 18px;
}

.line {
  height: 1px;
  background-color: #dbdbdb;
  margin: 7px 0;
}
