.container {
  display: flex;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
}

/* left */

.itemImg {
  /* background-color: aqua; */
  flex-grow: 2;
}

.itemImg img {
  background-color: gainsboro;
  width: 95%;
  height: 400px;
}

.slide ul {
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: space-evenly;
}
.smallImg {
  background-color: gainsboro;
  height: 60px;
  width: 120px;
}

/* right */
.slide {
  margin-top: 20px;
  width: 95%;
  height: 100px;
  /* background-color: aquamarine; */
}

.itemContent {
  /* background-color: blueviolet; */
  flex-grow: 0.8;
}

.title {
  margin: 0;
  font-size: 20px;
}
.owner {
  margin-top: 0;
  font-size: 18px;
  color: #aaaaaa;
  font-weight: 500;
}
.fileInfo {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.fileInfo p {
  margin: 0;
}

.tag {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 17px;
}
.tagContainer {
  display: flex;
}
.tagName {
  margin-top: 7px;
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  border: 2px solid #aaaaaa;
  margin-right: 5px;
  padding:2px;
}

.line {
  height: 1px;
  background-color: #dbdbdb;
  margin: 7px 0;
}

.price {
  display: flex;
  font-size: 17px;
}

.price p {
  margin-top: 7px;
}
.priceTitle {
  margin-right: 20px;
}


.buy{
  display: flex;
}

.buyBtn {
  background-color: #2f3eff;
  width: 250px;
  height: 40px;
  border-radius: 30px;
  color: white;
  margin-right: 7px;
  font-size: 18px;
}

.img {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-right: 7px;
}
