.title {
    margin: 0;
    text-align: center;
    color: #2f3eff;
    font-weight: 600;
    font-size: 18px;
  }
  
  .line {
    height: 1px;
    background-color: #dbdbdb;
    margin: 7px 0;
  }
  