ul {
  list-style: none;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  color: #2f3eff;
}

.menu_one {
  display: flex;
}

.menu_one li {
  margin-right: 20px;
}

.menu_two {
  display: flex;
}

.menu_two li {
  margin-left: 10px;
}

.input {
  display: flex;
  width: 300px;
  position: relative;
}

.input input {
  padding: 5px;
  background-color: #f8f8fa;
  border-radius: 10px;
  width: 100%;
  height: 27px;
  border: none;
  outline: none;
}

.searchBtn {
  position: absolute;
  right: 0;
}
.buttonImg {
  bottom: 0;
  width: 15px;
  height: 15px;
}
